@tailwind base;
@tailwind components;
@tailwind utilities;


.home-container {
  width: 90%;
  margin: auto;
  padding-top: 20px;
}

.search-box {
  text-align: center;
  margin-bottom: 20px;
}

.search-box input {
  width: 70%;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.book-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.book-card {
  background: white;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(200, 200, 200, 0.4);
  transition: transform 0.2s ease;
}

.book-card:hover {
  transform: scale(1.03);
}

.book-img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.price {
  font-weight: bold;
  color: #333;
}

.btn-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-row button {
  flex: 1;
  margin: 0 5px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.checkout-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.checkout-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
}
.checkout-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
