@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  transition: all 0.3s ease-in-out;
}

html {
  background-color: #f1f5f9;
  color: #0f172a;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark {
  background-color: #0f172a;
  color: white;
}