@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  transition: all 0.3s ease-in-out;
}

html {
  background-color: #f1f5f9;
  color: #0f172a;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark {
  background-color: #0f172a;
  color: white;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideUp {
  animation: slideUp 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease forwards;
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease forwards;
}
